
/* padrão de computador */

@media (max-width: 4096px){

   

    


}






/* padrão de celular */
@media (max-width: 430px){
   

li{
    width: 90%;
   }
   .hamburger{
    text-align: right;
   
   }
   .hamburger img{
    margin-right: 25px;
    margin-top: 12px;
   }
   #ativar:target{
    display: block;

   }
   body:has(#ativar:target) .imghamburger{
    display: none;
   }
   body:has(#ativar:target) .X{
    display: block;
   }
   a{
    text-decoration: none;
   }
   .s1 .X{
    font-size: 40px;
    margin-right: 25px;
    color: coral;
    

    
   }

.s1 h1{
    font-size: 30px;
    margin-top: 20px;
    color: blue;
    font-weight: bolder;
    margin-left: 10%;
}
.s2{
    margin-top: 5%;
}

.s3 h1{
    font-size: 30px;
    margin-top: 20px;
    color: chocolate;
    font-weight: bolder;
    
}

.slider{
    width: 100%;
    height: 300px;
    /* overflow: hidden; */
    padding: 20px 0px;
}
.slide_principal{
    display: flex;
    width: 300%;
    height: 100%;
    transition: margin-left 2s;
}
.slidee{
    display: flex;
    width: calc(100% / 3);
    height: 100%;
}
.slidee img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.slider input{
    display: none;
}
.quadradinhos{
    text-align: center;
    margin-top: -80px;
}
.quadradinhos label{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
.primeiro {
    transition: margin-left 300ms ease;
}
#bola1:checked ~ .primeiro{
    margin-left: 0%;
}
#bola2:checked ~ .primeiro{
    margin-left: calc(-100% / 3);
}
#bola3:checked ~ .primeiro{
    margin-left: calc(-100% / 3 * 2);
}
.quadradinhos img{
    width: 5%;
    outline: 3px solid white;
}

.s4 h1{
    margin-top: 15%;
    font-size: 25px;
    color: chocolate;
}
.s4 h2{
    font-size: 20px;
    color: blue;
}
.s4 h3{
    color: red;
}


.s5{
    margin-top: 10%;
}

.s5 img{
    width: 100%;
    height: 50%;
    border-radius: 50%;

}
.s5 h1{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-style: italic;
}
.s5 h3{
    margin-left: 5%;
    margin-top: 5%;
    font-weight: bolder;
}
footer{
    margin-top: 20%;
}

.s6 img{
    width: 50%;
    height: 50%;
    margin-left: 20%;
}
.s6 h1{
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
.voltar{
        
        
        width: 30%;
        height: 20px;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        margin-top: 1%;
}

.ss3 img{
    width: 100%;
    height: 100%;
}
.ss4 img{
    width: 100%;
    height: 100%;
}
.ss5 img{
    width: 100%;
    height: 100%;
}

.ss3 h1{
    font-size: 30px;
    margin-top: 20px;
    color: chocolate;
    font-weight: bolder;
   
}
.ss3 h2{
    text-align: justify;
}
.ss4 h2{
    text-align: justify;
}
.ss3 button{
    margin-left: 35%;
    border: 2px solid black;
    background-color: chocolate;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.ss4 button{
    margin-left: 35%;
    border: 2px solid black;
    background-color: chocolate;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.ss5 button{
    margin-left: 35%;
    border: 2px solid black;
    background-color: chocolate;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ss2 h1{
    font-size: 30px;
    margin-top: 20px;
    color: chocolate;
    font-weight: bolder;
    text-align: center;
}

.icones img{
    width: 50%;
    height: 50%;
}



}





